<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CustomAutoFilterRowFiltering.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=SAMOYLOVA-NB-W8\SQLEXPRESS2008;Initial Catalog=Northwind;Integrated Security=SSPI"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>